@import "compass";
@import "compass/reset";
@import "compass/css3";


$color-primary: #00499a;
$color-primary-light: #00B3E3;
$color-secondary: #ffba00;
$color-success: #4dc390;
$color-cta: #ff5a5f;




// MEDIA QUERIES

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}



@mixin centerer($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}



// ZONES



html,body {height:100% !important;}

body {
    height:100%;
    font-family: 'larsseitregular', sans-serif;
    font-weight: normal;
    color: black;
    background: white;
    line-height: 1.4;

}


.header {
    width: auto;
    height: auto;
    display: block;
    padding: 0 16px;
    line-height: 1;
    border-bottom: 12px solid $color-secondary;
    @include clearfix;


}


.zone {
    width: 100%;
    height: auto;
    display: block;
    @include clearfix;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 100px 16px;
}

.container-sm {
    max-width: 560px;
}

.bg-primary {
    color: white;
    background-color: $color-primary;
}

.bg-primary-light {
    color: white;
    background-color: $color-primary-light;
}

.bg-secondary {
    color: black;
    background-color: $color-secondary;
}

.bg-img {
    color: white;
    background-position: center center;
    @include background-size(cover);
}


// TYPO


h2 {
    font-family: 'LeagueGothic-Regular';
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 32px;
}


h3 {
    font-family: 'larsseitbold';
    font-size: 20px;
    margin: 16px 0;
}


.text-center { text-align: center;}
.text-bold { font-family: 'larsseitbold';}
.text-sm { font-size: 12px;}
.text-cap { text-transform: uppercase;}

.icon-md {font-size: 48px;}
.icon-lg {font-size: 64px;}
.icon-xl {font-size: 96px;}

strong {
    font-weight: bold;
}

ol {
    list-style: decimal;
}

// UI


.logo {
    font-size: 64px;
    float: left;
    width: 64px;
    height: 64px;
    display: block;

}
.tagline {
    font-size: 14px;
    color: $color-primary;
    float: right;
    text-transform: uppercase;
    text-align: right;
    padding-top: 18px;
    line-height: 1;

}



.collapse {
    font-family: 'LeagueGothic-Regular';
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    padding: 16px;
    cursor: pointer;
}


.footer {
    font-size: 12px;
    text-align: center;
    color: $color-primary;
    padding: 16px;
    @include box-shadow(0px -8px 16px rgba(0,0,0,.2))
        }


// BTN


.btn, button.btn, input.btn {

    width:auto;
    height: auto;
    margin: 24px auto;
    padding: 12px 48px;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: white;
    background: $color-success;
    cursor: pointer;
    @include border-radius(20px);
    @include transition-duration(.3s);
    white-space: nowrap;

    &:hover {
        background: darken($color-success,10%);
    }
}


.btn-cta {
    background: $color-cta;

    &:hover {
        background: darken($color-cta,10%);
    }
}


// OWL



.slider-img {
    img {
        max-width: 100%;
        height: auto;
    }
}


// FLEX


.sticky {
    width: 100%;
    max-width: inherit;
    height: 37px;
    position:fixed;
    top: 0;
    z-index: 999999;

    background: white;
    @include box-sizing(border-box);
    @include box-shadow(0px 8px 16px rgba(0,0,0,.2));


        .nav {
            left: 50%;
            margin-left: -490px;
    }

}

.nav-mobile {
    float: right;
    width: 48px;
    height: 64px;
    display: block;
    position: relative;
    text-align: right;
    color: $color-primary;
    cursor: pointer;

    @include tablet {
        display: none;
    }
}


.icon-menubar {


    &:before {
        content: "≡";
        font-size: 48px;
    }
}


.icon-menuclose {

    &:before {
        content: "✕";
        font-size: 32px;
        top: 12px;
        position: relative;
    }
}




.nav {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 8px 16px;
    text-align: center;
    display: none;

    position: absolute;
    top: 76px;
    background: white;
    @include box-sizing(border-box);



    @include tablet {
        @include display-flex;
        @include flex-wrap(nowrap);
        @include justify-content(space-between);

        position: inherit;
        top: inherit;
    }



    .nav-item {
        font-family: 'larsseitbold';
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;

        padding: 8px 0;
        border-bottom: 1px solid #EEE;

        @include tablet {
            padding: 0;
            border: 0;
        }


        &:last-child {
            border: 0;
        }
    }
}





.flex-wrapper-tri {

    @include tablet {
        @include display-flex;
        @include flex-wrap(wrap);
    }

    .flex-tri {
        width: 100%;
        padding: 16px;
        @include box-sizing(border-box);

        @include tablet {
            width: percentage(1/3);
        }
    }
}





.flex-wrapper-table {

    @include display-flex;
    @include flex-wrap(wrap);

    .flex-table {
        width: percentage(1/3);
        padding: 4px;
        @include box-sizing(border-box);
    }
}


// FONTS


@font-face {
    font-family: 'larsseitregular';
    src: url('fonts/larsseit/larsseit-webfont.woff2') format('woff2'),
        url('fonts/larsseit/larsseit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'larsseitbold';
    src: url('fonts/larsseit/larsseit-bold-webfont.woff2') format('woff2'),
        url('fonts/larsseit/larsseit-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothic-Regular';
    src: url('fonts/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/LeagueGothic-Regular.otf')  format('opentype'),
        url('fonts/LeagueGothic-Regular.woff') format('woff'), url('fonts/LeagueGothic-Regular.ttf')  format('truetype'), url('fonts/LeagueGothic-Regular.svg#LeagueGothic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// OWL

@import "../../../../../library/css/_owl.carousel.v2.scss";

.owl-controls, .owl-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.owl-prev {
    position: absolute;
    left: 16px;
    top: 45%;
    font-size: 24px;
}

.owl-next {
    position: absolute;
    right: 16px;
    top: 45%;
    font-size: 24px;
}
