Menu: <br />
    <a href="{% translate_link home %}">{% t menu.home %}</a> <br />
    <a href="{% translate_link about %}">{% t menu.about %}</a> <br />
    <a href="{% translate_link languages %}">{% t menu.languages %}</a> <br />
    <a href="{% translate_link leaderboard %}">{% t menu.leaderboard %}</a> <br />
    <a href="{% translate_link terms %}">{% t menu.terms %}</a> <br />