@font-face {
  font-family: 'esl-landing';
  src:  url('fonts/esl-landing.eot?iqxbmi');
  src:  url('fonts/esl-landing.eot?iqxbmi#iefix') format('embedded-opentype'),
    url('fonts/esl-landing.ttf?iqxbmi') format('truetype'),
    url('fonts/esl-landing.woff?iqxbmi') format('woff'),
    url('fonts/esl-landing.svg?iqxbmi#esl-landing') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'esl-landing' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-register:before {
  content: "\e916";
  color: #00499a;
}
.icon-arrow-down:before {
  content: "\e900";
  color: #124b98;
}
.icon-arrow-left:before {
  content: "\e901";
  color: #124b98;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #124b98;
}
.icon-arrow-up:before {
  content: "\e903";
  color: #124b98;
}
.icon-challenge:before {
  content: "\e904";
  color: #124b98;
}
.icon-esl-blue .path1:before {
  content: "\e905";
  color: rgb(0, 73, 154);
}
.icon-esl-blue .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 73, 154);
}
.icon-esl-blue .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 73, 154);
}
.icon-esl-blue .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 200, 0);
}
.icon-esl-blue .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 200, 0);
}
.icon-esl-blue .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 200, 0);
}
.icon-esl-white .path1:before {
  content: "\e90b";
  color: rgb(255, 255, 255);
}
.icon-esl-white .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-esl-white .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-esl-white .path4:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 200, 0);
}
.icon-esl-white .path5:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 200, 0);
}
.icon-esl-white .path6:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 200, 0);
}
.icon-guess:before {
  content: "\e911";
  color: #124b98;
}
.icon-listen:before {
  content: "\e912";
  color: #124b98;
}
.icon-repeat:before {
  content: "\e913";
  color: #124b98;
}
.icon-share:before {
  content: "\e914";
  color: #124b98;
}
.icon-trophy:before {
  content: "\e915";
  color: #ffc907;
}
