@font-face {
    font-family: 'larsseitregular';
    src: url('fonts/larsseit/larsseit-webfont.woff2') format('woff2'),
         url('fonts/larsseit/larsseit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*
@font-face {
    font-family: 'larsseitbold';
    src: url('fonts/larsseit/larsseit-bold-webfont.woff2') format('woff2'),
         url('fonts/larsseit/larsseit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('fonts/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/LeagueGothic-Regular.otf')  format('opentype'),
	     url('fonts/LeagueGothic-Regular.woff') format('woff'), url('fonts/LeagueGothic-Regular.ttf')  format('truetype'), url('fonts/LeagueGothic-Regular.svg#LeagueGothic-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/


