<!DOCTYPE html>
<html lang="{% t meta.lang %}">
    <head>
        <meta charset="utf-8">
        <title>{% t meta.title %}</title>
        <meta name="description" content="{% t meta.description %}"/>
        <meta property="fb:app_id" content="666424466794046"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="{% t home.landing_url %}/assets/coffee-time/globetrotter/images/default.png"/>
        <meta property="og:image:width" content="800"/>
        <meta property="og:image:height" content="400"/>
        <meta property="og:title" content="{% t meta.og_name %}"/>
        <meta property="og:description" content="{% t meta.og_description %}"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@{% t meta.twitter_name %}"/>
        <meta name="twitter:creator" content="@{% t meta.twitter_name %}"/>
        <meta name="twitter:title" content="{% t meta.og_name %}"/>
        <meta name="twitter:description" content="{% t meta.og_description %}"/>
        <meta name="twitter:image" content="{% t home.landing_url %}/assets/coffee-time/globetrotter/images/default.png"/>
        <meta name="twitter:image:width" content= "800" />
        <meta name="twitter:image:height" content= "400" />
        <meta property="og:url" content="{% translate_link home %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/coffee-time/globetrotter/css/screen.css">
        <link rel="stylesheet" href="/assets/coffee-time/globetrotter/css/fonts/esl-landing/style.css">
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <body>

        <div id="game" class="header">
            <div class="logo"><a href="{% t menu.logo_url %}" style="text-decoration:none;"><span class="icon icon-esl-blue"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span></a></div>
            <div class="nav-mobile" id="navi-mobile">
                <span class="icon-menubar" id="menu-mobile"></span> <!--icon-menuclose-->
            </div>
            <div class="tagline text-bold">{% t home.title_header %}</div>
        </div>

        <div class="zone bg-primary">

            <div id="esl-container" style="line-height:0"></div>
            <script src="https://quizcdn.esl-languages.com/js/drimifywidget.release.min.js"></script>
            <script>
                var container = new Drimify.Widget({autofocus: true, height: "400px", element: "esl-container", engine: "{% t home.game_url %}", style: "" });            
                container.load();
            </script>

        </div>
        <div id="menu-check"></div>
        <div class="zone" id="menu-sticky">
            <div class="nav" id="menu">
                <div id="goto-challenge" class="nav-item">{% t menu.challenge %}</div>
                <div id="goto-prize" class="nav-item">{% t menu.prize %}</div>
                <div id="goto-participate" class="nav-item">{% t menu.participate %}</div>
                <div id="goto-leaderboard" class="nav-item">{% t menu.leaderboard %}</div>
                <div id="goto-terms" class="nav-item">{% t menu.terms %}</div>
            </div>
        </div>

        <div id="challenge" class="zone bg-primary-light">
            <div class="container container-sm text-center">
                <h2>{% t challenge.title %}</h2>
                <p>{% t challenge.text %}</p>
                <h3>{% t challenge.subtitle %}</h3>
                <div id="goto-game" class="btn">{% t challenge.calltoaction %}</div>
            </div>
        </div>

        <div id="prize" class="zone bg-img" style="background-image:url(/assets/coffee-time/globetrotter/images/bg-niger-congo.jpg);">
            <div class="container container-sm text-center">
                <h2>{% t prize.title %}</h2>
                <p>{% t prize.text %}</p>
                <h3>{% t prize.subtitle %}</h3>
                <div id="goto-game" class="btn">{% t prize.calltoaction %}</div>
            </div>
        </div>

        <div id="participate" class="zone bg-secondary">
            <div class="container text-center">
                <h2>{% t participate.title %}</h2>

                <div class="flex-wrapper-tri">
                    <div class="flex-tri">
                        <span class="icon icon-register icon-xl"></span>
                        <h3>{% t participate.register %}</h3>
                        <p>{% t participate.registertxt %}</p>
                    </div>
                    <div class="flex-tri">
                        <span class="icon icon-listen icon-xl"></span>
                        <h3>{% t participate.listen %}</h3>
                        <p>{% t participate.listentxt %}</p>
                    </div>
                    <div class="flex-tri">
                        <span class="icon icon-guess icon-xl"></span>
                        <h3>{% t participate.guess %}</h3>
                        <p>{% t participate.guesstxt %}</p>
                    </div>
                </div>

                <div id="goto-game" class="btn">{% t participate.calltoaction %}</div>

                <br><br><br><br>

                <h2>{% t participate.increase %}</h2>

                <div class="flex-wrapper-tri">
                    <div class="flex-tri">
                        <span class="icon icon-challenge icon-xl"></span>
                        <h3>{% t participate.challenge %}</h3>
                        <p>{% t participate.challengetxt %}</p>
                    </div>
                    <div class="flex-tri">
                        <span class="icon icon-share icon-xl"></span>
                        <h3>{% t participate.share %}</h3>
                        <p>{% t participate.sharetxt %}</p>
                    </div>
                    <div class="flex-tri">
                        <span class="icon icon-repeat icon-xl"></span>
                        <h3>{% t participate.repeat %}</h3>
                        <p>{% t participate.repeattxt %}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="zone bg-primary">
            <div class="container container-sm text-center">
                <span class="icon icon-esl-white icon-xl"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
                <p>{% t esl.about %}</p>

                <a href="{% t esl.brochure_url %}" title="{% t esl.brochure %}" class="btn btn-cta" target="_blank">{% t esl.brochure %}</a>
                <div class="slider-container">
                    <div id="esl-gallery" class="owl-carousel" style="display:block;overflow:hidden;">
                        <div class="item">
                            <div class="slider-img"><img src="/assets/coffee-time/globetrotter/images/banner-1.jpg" alt="{% t meta.title %}"></div>
                        </div>

                        <div class="item">
                            <div class="slider-img"><img src="/assets/coffee-time/globetrotter/images/banner-2.jpg" alt="{% t meta.title %}"></div>
                        </div>

                        <div class="item">
                            <div class="slider-img"><img src="/assets/coffee-time/globetrotter/images/banner-3.jpg" alt="{% t meta.title %}"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="leaderboard" class="zone bg-img" style="background-image:url(/assets/coffee-time/globetrotter/images/bg-ne-european.jpg);">
            <div class="container container-sm text-center">
                <span class="icon icon-trophy icon-xl"></span>
                <h2>{% t leaderboard.title %}</h2>

                <div id="esl-leaderboard"></div>            


                <div id="goto-game" class="btn">{% t leaderboard.calltoaction %}</div>
            </div>
        </div>

        <div id="terms" class="zone bg-secondary">
            <div id="showterms" class="collapse">{% t terms.title %} &nbsp; <span id="iconterms" class="icon icon-arrow-down pull-right"></span></div> 
        </div>

        <div id="termstxt" style="display:none" class="zone">
            <div class="container text-sm">
                {% t terms.txt %}
            </div>
        </div>

        <div class="footer">
            {% t copy.copyright %}
        </div>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script  src="/assets/coffee-time/globetrotter/js/script.js"></script>

        <script>

            $(function(){



                $(window).scroll(function()  {

                    var isMobile = false; //initiate as false
                    // device detection
                    if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
                       || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) isMobile = true;

                    if (!isMobile && $(window).width() > 1024) {
                        var viewableOffset = $("#menu-check").offset().top ;
                        if ($(this).scrollTop() > viewableOffset && $("#menu-sticky").hasClass( "sticky" ) == false) {
                            $('#menu-sticky').addClass("sticky");
                        }

                        if ($(this).scrollTop() < viewableOffset && $("#menu-sticky").hasClass( "sticky" ) == true) {
                            $('#menu-sticky').removeClass("sticky");
                        }
                    }
                });




                $.get( "{% t home.leaderboard_url %}", function( data ) {
                    $( "#esl-leaderboard" ).html( data );
                });


                $("[id^='goto-']").click(function() {

                    var element = $(this).attr('id').replace("goto-", "");

                    $('html,body').animate({
                        scrollTop: $("#"+element).offset().top},
                                           'slow');
                    $("#navi-mobile").trigger('click');

                });



                $("#navi-mobile").clickToggle(function() {          

                    $("#menu-mobile").removeClass('icon-menubar').addClass('icon-menuclose'); 
                    $("#menu").show();
                },
                                             function() {        

                    $("#menu-mobile").removeClass('icon-menuclose').addClass('icon-menubar');
                   // $("#menu").hide();

                });


                $("#showterms").clickToggle(function() {          
                    $("#termstxt").show();
                    $("#iconterms").removeClass('icon-arrow-down').addClass('icon-arrow-up');
                    $('html,body').animate({
                        scrollTop: $("#terms").offset().top},
                                           'slow');
                },
                                            function() {        
                    $("#termstxt").hide();
                    $("#iconterms").removeClass('icon-arrow-up').addClass('icon-arrow-down');
                });



                $('#esl-gallery').owlCarousel({
                    loop:true,
                    autoplay:true,  
                    autoplayTimeout:3000,
                    autoplay:true,                
                    margin:0,
                    nav:true,
                    navText : ['<span class="icon icon-arrow-left"></span>','<span class="icon icon-arrow-right"></span>'],
                    dots:false,
                    responsiveClass:true,
                    center:true,
                    items: 1
                });




                if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i)) {
                    var viewportmeta = document.querySelector('meta[name="viewport"]');
                    if (viewportmeta) {
                        viewportmeta.content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
                        document.body.addEventListener('gesturestart', function () {
                            viewportmeta.content = 'width=device-width, minimum-scale=0.25, maximum-scale=1.6';
                        }, false);
                    }
                };

            });


            (function($) {
                $.fn.clickToggle = function(func1, func2) {
                    var funcs = [func1, func2];
                    this.data('toggleclicked', 0);
                    this.click(function() {
                        var data = $(this).data();
                        var tc = data.toggleclicked;
                        $.proxy(funcs[tc], this)();
                        data.toggleclicked = (tc + 1) % 2;
                    });
                    return this;
                };
            }(jQuery));



        </script>


        <noscript><iframe src="//www.googletagmanager.com/ns.html?id={% t google.tagmanger %}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{% t google.tagmanger %}');
        </script>




    </body>
</html>